@model CollegeAdministration.Models.Staff

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.facultyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facultyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.attendance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attendance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.courseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.courseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.departmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.departmentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.staffId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
