@model IEnumerable<CollegeAdministration.Models.Student>
@{
    ViewBag.Title = "StaffsStudentAttendancePage";
    Layout = "~/Views/Shared/_StaffLayoutPage1.cshtml";
}

<h2>StaffsStudentAttendancePage</h2>
@Html.BeginForm()
{


}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.studentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.attendance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.percentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.courseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.departmentName)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.studentName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.attendance)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.percentage)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Course.courseName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Department.departmentName)
    </td>
    <td>
        @Html.ActionLink("Edit", "EditStudentAttendance", new { id = item.studentId }) |
        @Html.ActionLink("Details", "Details", new { id = item.studentId }) |
    </td>
</tr>

    }
    </table>