@model IEnumerable<CollegeAdministration.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.studentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.attendance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.academicYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.percentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.courseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.departmentName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.studentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.attendance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.academicYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.percentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.departmentName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.studentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.studentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.studentId })
        </td>
    </tr>
}

</table>
