@model CollegeAdministration.Models.Student
@{
    ViewBag.Title = "StudentHomePage";
}

<h2>Hello @Html.DisplayFor(model => model.studentName)</h2>
<div>
    <dt>@Html.DisplayNameFor(model => model.studentId)</dt>
    <dd>@Html.DisplayFor(model => model.studentId)</dd>
    <dt>@Html.DisplayNameFor(model => model.studentName)</dt>
    <dd>@Html.DisplayFor(model => model.studentName)</dd>
</div>

@*@{
        var studentInfo = (CollegeAdministration.Models.Student)Session["userStudent"];
    }*@

@*
        <div>
           Student id: @studentInfo.studentId <br />
            Student Name: @studentInfo.studentName
            <br />
    @Session["user"]

    </div> *@